<footer class="footer ">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="col-md 6 font white-text">
				<div class=" custom">©2014 <span class="font font--bold">tulus</span>driyo. All Rights Reserved.</div>
			</div>
			<div class="col-md 6 ">
				<ul class="person__socials d-flex">
					<li class="person__social person__social--be"></li>
					<li class="person__social person__social--in"></li>
					<li class="person__social person__social--gp"></li>
					<li class="person__social person__social--fb"></li>
					<li class="person__social person__social--tw"></li>
				</ul>
			</div>
		</div>
	</div>
</footer>